<p><strong></strong></p><p class="text-center"><strong>CÔNG TY CỔ PHẦN BẾN THÀNH Ô TÔ</strong></p>
<p class="text-center"><strong>Mã số thuế:</strong> 0309708126</p>
<p class="text-center"><strong>Giấy ĐKDN: </strong>0309708126 <strong>Ngày cấp: </strong>18-01-2010</p>
<p class="text-center"><strong>Địa chỉ:</strong> 831 Trường Chinh, Phường Tây Thạnh, Quận Tân Phú, TP Hồ Chí Minh</p>
<p class="text-center"><strong>SDT:</strong> 0902 878 776 Email: nttruc@benthanhford.com.vn</p>
<p class="text-center"><strong>Website:</strong> <a href="http://www.fordmoi.com">www.fordmoi.com</a></p>